
@{
    ViewData["Title"] = "View";
}

<div class="jumbotron alert alert-danger">
    <h1 class="display-4">Error sintaxis</h1>
</div>


<div class="row">
    <div class="col-12">
        <h3> Examples  </h3>
        <p> 1 Book at 12.49 </p>
        <p> 1 Imported box of chocolates at 10.00</p>
        <p>1 Packet of headache pills at 9.75</p>
    </div>
    <a href="@Url.Action("ListItems", "Home")" class="btn btn-dark btn-block">Return</a>
</div>





